<body>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= image_tag 'me-nick-spiderman.JPG', class:'image-size img-rounded' %>
        <h2 class="display-3">About Me</h1>
        <p>Instead of following the typical path after high school, I decided to pursue adventure and do the college and career stuff later.
           As cringy as YOLO may be these days, that was my format of life at that time. Here is a quick summary of my story of the past decade.
        </p>
        <p>
          <strong>Adventure 1 - "Go West Young Man"</strong>
           <br>In 2010, I was pursuing a career in music production and/or sound engineering.  I was also pursuing a one-way ticket out of Wake Forest, NC.
           After getting a call from a former roomate and being invited to stay on the couch in a venice beach apartment, well, I was pretty much on the way before I hung up the phone. 
           Overall, living in LA was a bittersweet experience for me. I learned so much about audio and music production and even played a few gigs.
           Soon however, I found myself just scrapping by and working at a pizza shop so I decided to go back home.
           Looking back, I would've done many things differently but I am grateful for the life lessons I learned living in LA.
        </p>
        <p>
          <strong>Adventure 2 - "Into the Wild...Kind of"</strong>
          <br>Burned out from the big city life and feeling a bit disenfranchised, 
          I decided to come back to NC and spend a summer living on the Appalachian Trail for some Thoreauesque self-reflection.
          It was exactly nothing like Into the Wild; more like a watered-down version. This trip was exhilerating, terrible and life changing all at once.
          I hiked 200 miles of the trail, ate bugs, drank mud water, scared the crap out of a sleeping black bear, 
          and even managed to hitchhike to and sneak in a popular music festival in Tennessee.
          After a week of 100 degree sweltering temperatures, I found myself on yet another couch... this time in Charlotte, NC.
        </p>
        <p>
          <strong>Adventure 3 - "Vamos a Peru"</strong>
          <br>About a year passed by before I became stagnant and yearned for more adventure. 
          So, I decided that South America would be my next stop. 
          I obtained an ESL teaching certificate to pay the bills while overseas and later met a Peruvian girl who lived in Lima on some random online dating site.
          That girl ended up being a fraude and stole all my money.  Okay that part is not true but that is what everyone thought was going to happen.
          Actually this girl is now my wife and we have a two year old son who you can see in the photo above.
          I managed to stay there for 3 years, 1 month & 11 days and started my own English Tutoring company, which is still my main hustle to this day. 
          Operating my business was a lot more difficult than I thought and I quickly realized I just had too many day to day tasks to do.  
          I figured there had to be some sort of way to automate many of the tasks I had to do such as billing, entering spreadsheet data, and so on.
          This is about the time when I first jumped in the rabbit hole of software development.
          This is also the time my wife and I had our son Nicholas! Soon after he was born, we decided to move to NC and raise our son here.
          I do miss Peru quite a lot at times and the nostolgia I get thinking of the memories makes my throat squeeze, 
          however, it is nice to be back in the clean air with more opportunities to make a better life for my family.
        </p>
        <p>
          <strong>Adventure 4 - "Back to the 'Real World'"</strong>
          <br>So here I am. For the past two years I have been learning software development and raising a beaufitul young man with my wife in our quiet country home in Wake Forest.  
          I just finished my first year at Wake Tech and am currently looking to try my hand in a professional environment. It took me quite some time to find my niche but developing web apps is 100% it!
          A few months ago my mentor mentioned that I should try to learn a web framework as he saw I was trying to do many things from scratch. Discovering frameworks was an exhilerating moment.
          I went from 'I don't know if I'm cut out for this' to 'Wow, I can actally do stuff!' rather quickly.  
          For the past 6 weeks I have been learning Rails while building this site you are reading now.
          I have a lot to learn but am quite comfortable with the structure of a Rails app.
        </p>
        
           
        
      </div>
    </div>

  </main>

  <footer class="container">
    <p>&copy; Benjamin Walters 2019</p>
  </footer>

</body>
</html>
